@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-button {
    background: linear-gradient(to right, #30c2b7, #70e1a6, #96efc1);
    color: #373737;
    border: none;
}

.gradient-text {
    background: linear-gradient(to right, #30c2b7, #70e1a6, #96efc1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-text {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-size {
    height: 4.5rem;
}

.sidebar-size {
    width: 4.5rem;
    height: 100%;
}